<!DOCTYPE html>
<html lang="en">
<%- include('./parts/head.ejs')  %>
<body>
    <header class="room-header">
        <span>logo</span>
        <div>
            <button class="btn">
                <i class="fas fa-copy"></i>
            </button>
            <span># <%= room.id %> </span>
        </div>
    </header>
    <main class="room-main">
        <div>
            <h2>
                <%= room.title %> 
            </h2>
            <span>
                <%= room.createdAt %> 
            </span>
        </div>
        <form action="/question/new/<%= room.id %> " method="POST" class="room-form">
            <textarea required autofocus name="question" placeholder="Type a new question" ></textarea>
            <footer>
                <div>
                    <i class="fas fa-lock"></i>
                    <span>This question is anonymous</span>
                </div>
                <button type="submit" class="btn">Submit <i class="fas fa-paper-plane"></i></button>
            </footer>
        </form>

        <% if(questions.length === 0){ %>

            <%- include('./parts/no-questions.ejs')  %> 

        <% } %> 

        <section class="questions">
            <% questions.forEach(question => { %>

                <article class="question">
                    <header>
                        <div>
                            <i class="fas fa-user"></i>  
                        </div>
                        <p>
                            <%= question.question %> 
                        </p>
                    </header>
                    <footer>
                        <span>
                            <%= question.createdAt %> 
                        </span>
                        <div>
                            <button>
                                <i class="fas fa-check-double"></i>
                                Mark as read
                            </button>
                            <button>
                                <i class="fas fa-trash"></i>
                                Delete question
                            </button>
                        </div>
                    </footer>
            </article>

            <% }) %> 

            <% readedQuestions.forEach(question => { %>

                <article class="question read">
                    <header>
                        <div>
                            <i class="fas fa-user"></i>  
                        </div>
                        <p>
                            <%= question.question %> 
                        </p>
                    </header>
                    <footer>
                        <span>
                            <%= question.createdAt %> 
                        </span>
                        <div>

                            <button>
                                <i class="fas fa-check-double"></i>
                                Mark as read
                            </button>
                            <button>
                                <i class="fas fa-trash"></i>
                                Delete question
                            </button>
                        </div>
                    </footer>
            </article>

            <% }) %> 
        </section>
    </main>

    <!-- MODAL -->
    <div class="modal-wrapper">
        <div class="modal">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <form action="" class="form"> 
                <input type="password" name="password" class="input">
                <div>
                    <button type="submit" class="btn">Cancel</button>
                    <button type="submit" class="btn">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>